<!DOCTYPE html>
<html>
        <head>
            <title></title>
        </head>
    
    <body>
   
        <form action="/external/" method="post">
        {% csrf_token %}
            Text:
            <input type="Text" name="param" required>
            <input type="submit" value="Make Hash"> <br><br><hr>
            Original word: {{data}} <hr>
            Md5:  {{data1}}<br><hr>
            Sha1: {{data2}}<br><hr>
            Sha256: {{data3}}<br><hr>
            Sha512: {{data4}}<br><hr>
        </form>
    </body>
</html>
